@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.avatarStyle img{
    width: 200px;
    height: 200px;
}
.mainPage{
    width: 90%;
    height: 100vh;
    margin: auto;
    font-family: 'Architects Daughter', cursive;
}
.mainPage h1{
    margin: 0;
    padding: 20px 0;
}